﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/MyCSS.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="topbar">
        <div class="mainbar">
            <div class="left">
                <a><b>&#9743 0123.888.0123</b> (HN)  &#8722;</a>
                <a><b>0129.233.3555</b> (HCM)</a>
                <button>Liên hệ quảng cáo</button>
                <button class="button-like">&#10003 Like</button>
                <button class="button-follow"><i class="fab fa-twitter"></i>Follow</button>
                <button class="button-youtube"> <i class="fab fa-youtube"></i>Youtube</button>

            </div>
            <div class="right">
                <button class="button-dangnhap">Đăng nhập</button>
                <button class="button-dangky">Đăng ký</button>
                <input placeholder="Tìm kiếm" class="input-search" />

            </div>
        </div>
    </div>
    <div class="content">
        <div class="maincontent">
            <div class="banner">
                <img class="logo" src="~/Content/Images/Logo_Vnexpress.png" alt="Logo EXPRESS" />
                <img class="banner1" src="~/Content/Images/banner-ads-1.png" alt="Banner1" />
                <img class="banner2" src="~/Content/Images/banner-ads-2.png" alt="Banner2" />
            </div>
            <hr />
            <div class="menu">
                <button><i class="fas fa-home"></i></button>
                <b>
                    <a>Thời sự</a>
                    <a>Thế giới</a>
                    <a>Kinh doanh</a>
                    <a>Giải trí</a>
                    <a>Thể thao</a>
                    <a>Pháp luật</a>
                    <a>Giáo dục</a>
                    <a>Sức khỏe</a>
                    <a>Gia đình</a>
                    <a>Du lịch</a>
                    <a>Khoa học</a>
                    <a>Số hóa</a>
                    <a>Xe</a>
                    <a>Cộng đồng</a>
                    <a>Tâm sự</a>
                    <a>Video</a>
                    <a>Cười</a>
                    <a>Rau vặt</a>
                </b>
                <hr />
            </div>
            <div class="news">
                <div class="information">
                    <div class="thoisu">
                        <a><b>Thời sự</b></a>
                    </div>
                    <div>
                        <img class="anhdonatrum" src="~/Content/Images/thumnails.png" alt="Donatrum" />
                        <figcaption class="caption-anhdonatrum">
                            <b>
                                Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên <small style="background-color:red;color:white;font-size:12px;">Live</small> <i style="font-size: 12px;" class="fas fa-camera"></i> <i style="font-size: 12px;" class="fas fa-comment"></i> <small style="font-size: 12px;">80</small>
                            </b>
                        </figcaption>
                        <p>
                            Hai ứng cử viên chạy đua vào chức Tổng thống Mỹ Clinton và Trump tranh cải nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố,...
                        </p>
                        <p>
                            - Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump.
                        </p>
                    </div>
                </div>
                <div class="news-suggest">
                    <div>
                        <div class="language">
                            <button><b style="font-size:20px;color:white;background-color:red;">E</b> English</button>
                        </div>
                        <div class="news-question">
                            <a>Đài Loan đóng của trường học vì bảo Megi.</a>
                            <hr />
                            <a>Những đứa trẻ sống vất vẻo trên dầm cầu đã có chốn dung thân.<i class="fas fa-camera"></i></a>
                            <hr />
                            <a>Tại sao các đôi hoàn hảo vẫn ly dị.</a>
                            <hr />
                            <a>Ssangyong Korando - crossover giá một tỉ tại Việt Nam.</a>
                            <hr />
                            <a>Lỗ hổng IOS 10 giúp hacker giải mã bản sao lưu dễ dàng.</a>
                        </div>
                        <hr style="color:black;" />
                        <div class="propose">
                            <img class="mua" src="~/Content/Images/download.jpg" alt="Mưa" />
                            <button class="gocnhin"><b>Gốc nhìn</b></button>
                            <h3>"Thất thủ" trước cơn mưa.</h3>
                            <p>Hàng triệu người bất lực bởi một cơn mưa, hay còn bởi điều gì khác.?</p>
                            <p>Đêm xuân gió rét ngoài đồng,<br />Thân em vẫn đợi người chồng em thương. </p>
                        </div>
                    </div>
                </div>
                <div class="space">

                </div>
                <div class="advertisement">
                    <div class="date">
                        <p style="padding-top:0px;">&nbsp;&nbsp;&nbsp;Thứ 3,27/9/2016 &#124; 09:16 GMT+7</p>
                        <p>&nbsp;&nbsp;</p>
                        <button class="button24h">24h qua</button>
                        <p>&nbsp;</p>
                        <button class="buttonrss"><b>RSS</b>&#9888;</button>
                    </div>
                    <hr />
                    <div>
                        <img style="width:100%;height:125px;" src="~/Content/Images/right-ads-1.png" alt="Anhads1" />
                    </div>
                    <div>
                        <img style="width: 100%; height: 125px;" src="~/Content/Images/right-ads-2.png" alt="anhads2" />
                    </div>
                    <div>
                        <img style="width: 100%; height: 125px;" src="~/Content/Images/right-ads-3.png" alt="anhads3" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>